.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.neumorphism-element {
  background: #EBECF0;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #a2a7b9, -3px -3px 5px #ffffff;
  margin: 10px;
}
.neumorphism-border {
  border: 1px solid #dcdee5;
  box-shadow: 0 0 2px 1px #d4d6df;
}
.pointer {
  cursor: pointer;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
[class*="card-"] {
  background: #EBECF0;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #a2a7b9, -3px -3px 5px #ffffff;
  margin: 10px;
  aspect-ratio: 4/6;
  width: 120px;
  overflow: hidden;
  display: grid;
  grid-template-rows: calc(4/6 * 100% + 5px) auto auto;
  justify-items: center;
  padding: 5px;
}
[class*="card-"] .image-container {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  clip: auto;
  border-radius: 15px;
}
[class*="card-"] .image-container img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
[class*="card-"] hr {
  width: 100%;
  margin-bottom: 5px;
}
[class*="card-"] .text {
  max-width: 100%;
  overflow: hidden;
  font-size: small;
  text-align: center;
  text-overflow: ellipsis;
}
