.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.neumorphism-element {
  background: #EBECF0;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #a2a7b9, -3px -3px 5px #ffffff;
  margin: 10px;
}
.neumorphism-border {
  border: 1px solid #dcdee5;
  box-shadow: 0 0 2px 1px #d4d6df;
}
.pointer {
  cursor: pointer;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.text-center {
  text-align: center;
}
.stretch {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4TbMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4VrMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4bbLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4Y_LPrQ.ttf) format('truetype');
}
* {
  font-family: "Comfortaa";
  color: #484d61;
  font-weight: 600;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #EBECF0;
}
hr {
  border: none;
  margin: 0;
  background: #EBECF0;
  border-radius: 20px;
  box-shadow: inset 1px 1px 2px #a2a7b9, inset -1px -1px 2px #ffffff;
}
hr.none-rounded {
  background: #EBECF0;
  border-radius: 0px;
}
a {
  text-decoration: none;
  transition: 0.2s;
  color: #484d61;
}
a:active {
  transform: scale(0.95);
}
a:hover {
  opacity: 0.5;
}
* ::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background: transparent;
}
* ::-webkit-scrollbar-track {
  background: transparent;
}
* ::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background: transparent;
  border-radius: 15px;
  box-shadow: inset 3px 3px 6px #0f79f4, inset -3px -3px 6px #a1cbfb;
}
* ::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
  margin-right: 10px;
}
* ::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
  margin-left: 10px;
}
input[type=text],
textarea {
  margin: 10px;
  background: #EBECF0;
  border-radius: 20px;
  box-shadow: inset 3px 3px 5px #a2a7b9, inset -3px -3px 5px #ffffff, 0 0 2px 1px #d4d6df;
  border: 1px solid #dcdee5;
  padding: 8px;
  padding-left: 15px;
}
input[type=text]::placeholder,
textarea::placeholder {
  color: rgba(72, 77, 97, 0.5);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
textarea {
  resize: none;
  white-space: normal !important;
  cursor: auto;
}
.text.x-large {
  font-size: x-large;
}
.text.large {
  font-size: large;
}
.text.normal {
  font-size: normal;
}
.text.small {
  font-size: small;
}
.text.x-small {
  font-size: x-small;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}
